body {
  font-family: Arial, Helvetica, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  border-top: 1px solid #add8e6;
  background-color: #f0f8ff;
  text-align: left;
}
td,
th {
  border-bottom: 1px solid #add8e6;
  padding: 3px;
}
tr.future td {
  color: #c0c0c0;
}
.off,
.starred,
.closed,
.deleted,
.project,
.context {
  cursor: pointer;
}
.off {
  color: #c0c0c0;
}
.starred {
  color: #ffa500;
}
.closed {
  color: #008000;
}
.deleted {
  color: #f00;
}
.project {
  color: #00f;
}
.context {
  color: #800080;
}
