body
  font-family Arial, Helvetica, sans-serif

border = 1px solid lightblue

table
  border-collapse collapse
  border-spacing 0

th
  border-top border
  background-color aliceblue
  text-align left

td, th
  border-bottom border
  padding 3px

tr.future td
  color silver  
    
.off
  color silver
  cursor pointer

.starred
  color orange
  cursor pointer

.closed
  color green
  cursor pointer

.deleted
  color red
  cursor pointer
