body
  font-family Arial, Helvetica, sans-serif

border = 1px solid lightblue

table
  border-collapse collapse
  border-spacing 0

th
  border-top border
  background-color aliceblue
  text-align left

td, th
  border-bottom border
  padding 3px

tr.future td
  color silver  
    
.off, .starred, .closed, .deleted, .project, .context
  cursor pointer

.off
  color silver

.starred
  color orange

.closed
  color green

.deleted
  color red

.project
  color blue

.context
  color purple
  
