body
  font-family Arial, Helvetica, sans-serif

border = 1px solid lightblue

table
  border-collapse collapse
  border-spacing 0

th
  border-top border
  background-color aliceblue
  text-align left

td, th
  border-bottom border
  padding 3px
  
